.winner-block {
    margin: 0 0 10px;
    min-height: 50px;
}

.history-block {
    &__header {
        margin: 0 0 10px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    &__button {
        display: block;
	    margin: 5px 0;
	    padding: 5px 10px;
	    font-size: 15px;
        background: #c66b3d;
        color: #fff;
        border: none;
        border-radius: 5px;
	    
        &:hover {
            opacity: .95;
            cursor: pointer;
	    }
    }
}