* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    background: #201e20;
    color: #ddc3a5;
}

.main {
    padding: 20px;
    min-height: 100vh;
    border: 1px solid #c66b3d;
    border-radius: 5px;
}