.give-button {
    padding: 10px 20px;
	width: 100%;
    font-size: 15px;
	background: #c66b3d;
    color: #fff;
	border: none;
    border-radius: 5px;

	&:hover {
        opacity: .95;
		cursor: pointer;
	}

	&:disabled {
		visibility: hidden;
	}
}