input {
	width: 100%;
	margin: 0 auto 20px;
	padding: 15px 10px;
	background: #ddc3a5;
	border: 1px solid transparent;
	border-radius: 5px;
	font-size: 16px;

	&:focus {
		outline: none;
	}

	&[type='radio'] {
		display: inline-block;
		width: 50px;
	}
}

label {
	font-size: 18px;
	color: #c66b3d;
}