.registration {
    margin: 0 0 20px;
    padding: 20px 20px 70px;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #c66b3d;
    border-radius: 5px;

    &__title {
        margin: 0 0 50px;
        font-weight: 500;
    }
}